@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background: #004D40;
  height: 40px;
  padding: 20px 0 0;
}

.wrapper {
  display: block;
  margin: 0 auto;
}

.menu {}

.menu-list {
  float: right;
  list-style: none;
}

.menu-list li {
  color: #80cbc4;
  float: left;
  font-weight: bold;
  padding: 0 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.main {
  margin: 0 auto;
  padding: 60px 0px;
  width: 70%;
}

/* ============================================
   Kalender - Auswahloptionen
   ============================================ */
.optionsauswahl-menue {
  float:left;
  padding-top: 94px;
  width: 27%;
}

.optionsauswahl-menue h3 {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0;
}

.kalenderoptionen {
  display: block;
  margin: 8px 0;
}

.optionsbeschreibung {
  font-size: 12px;
  margin-left: 8px;
  vertical-align: 15%;
}

.bevorzugt, .wenn-notwendig, .niemals, .ungewaehlt, .ungewaehlt {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.bevorzugt-btn, .wenn-notwendig-btn, .niemals-btn, .ungewaehlt-btn, .ungewaehlt {
  display: block;
  height: auto;
  width: auto;
  padding: 9px;
  margin: 6px 0;
  border-radius: 5px;
  border: 2px solid;
}

.bevorzugt {
  background: #00897B;
}

.wenn-notwendig {
  background: #80cbc4;
}

.niemals {
  background: #E0F2F1;
}

.ungewaehlt {
  background: #b0bec5;
}

.optionsauswahl {
  display: block;
  margin: 20px 0 30px;
}

.optionsauswahl a:hover{
  border: 2px solid #000;
}

.active{
  border: 2px solid #000;
}



/* ============================================
   Kalender
   ============================================ */

.kalender {
	display: block;
  float: right;
  width: 69%;
}

.kopfzeile {
	padding: 10px 0 10px 90px;
}

.wochentag {
	padding: 0 52px;
}

.btn-kalender {
	background: blue;
	display: inline-block;
	height: 10px;
	width: 10px;
}

.kalenderzeile, .kalender-input, .kalenderzeile span {
	float: left;
	padding: 5px 0;
}

.kalender-input[prio="1"]{
  background: #b0bec5;
}
.kalender-input[prio="0"]{
  background: #E0F2F1;
}
.kalender-input[prio="2"]{
  background: #80cbc4;
}
.kalender-input[prio="3"]{
  background: #00897B;
}

.vorlesungszeit {
	margin: 6px 10px 0 0;
}

.kalender-input {
	background: #99b3ff;
  height: 25px;
	margin: 0 3px;
  width: 120px;
  cursor: pointer;
}

h2 {
	font-weight: bold;
	margin: 30px 0;
  text-align: center;
}

/* ============================================
   Sonderwünsche
   ============================================ */

.raumsonderwuensche {
	margin: 30px auto;
  width: 64%;
}


/* ============================================
   Priority List
   ============================================ */

.cool-class {
  background-color: #e6ecff;
  margin: 10px 0px;
  padding: 10px 20px;
}

.cool-class input {
  margin: 10px 0px;
  padding: 10px 10px;
  width: calc(100% - 24px);

}

#priority-list li {
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    cursor: pointer;
    margin: 1px 0px;
    padding: 10px 5px;
}

#priority-list h2 {
  text-align: center;
}

button {
    background: #99b3ff;
    border: 1px solid #4d79ff;
    cursor: pointer;
    margin: 10px 5px 0 0;
}

.priority-entry {
    position: relative;
}

.priority-delete {
    position: absolute;
    right: 8px;
    top: 8px;
}

select {
  font: 14px/16px "Droid Sans", Arial;
  margin-top: 20px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */


.day{
  display: inline-block;
  padding: 6px 10px;
  margin: 6px 10px;
  border: 1px solid #4d79ff;
}

.day.selected {
  background-color: #99b3ff;
}

.day:hover{
  color: #4d79ff;
}
