/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font: 15px/16px  "Droid Sans", Arial;
}

/* ============================================
   Menü
   ============================================ */

header {
    background: #002db3;
    height: 40px;
    padding: 20px 0 0;
}

.wrapper {
    display: block;
    margin: 0 auto;
}

.menu {

}

.menu-list {
    float: right;
    list-style: none;
}

.menu-list li {
  color: #4d79ff;
    float: left;
    font-weight: bold;
    padding: 0 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #4d79ff;
}

.main {
  margin: 0 auto;
  padding: 60px 0px;
  width: 70%;
}

/* ============================================
   Kalender - Auswahloptionen
   ============================================ */
.optionsauswahl-menue {
  float:left;
  padding-top: 94px;
  width: 27%;
}

.optionsauswahl-menue h3 {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0;
}

.kalenderoptionen {
  display: block;
  margin: 8px 0;
}

.optionsbeschreibung {
  font-size: 12px;
  margin-left: 8px;
  vertical-align: 15%;
}

.bevorzugt, .wenn-notwendig, .niemals, .ungewaehlt {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.bevorzugt-btn, .wenn-notwendig-btn, .niemals-btn, .ungewaehlt-btn {
  display: block;
  float: left;
  height: 35px;
  width: 25px;
}

.bevorzugt {
  background: #002db3;
}

.wenn-notwendig {
  background: #4d79ff;
}

.niemals {
  background: #e6ecff;
}

.ungewaehlt {
  background: #99b3ff;
}

.optionsauswahl {
  display: block;
  margin: 20px 0 30px;
}

.optionsauswahl a:hover {
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}


/* ============================================
   Kalender
   ============================================ */

.kalender {
	display: block;
  float: right;
  width: 69%;
}

.kopfzeile {
	padding: 10px 0 10px 90px;
}

.wochentag {
	padding: 0 52px;
}

.btn-kalender {
	background: blue;
	display: inline-block;
	height: 10px;
	width: 10px;
}

.kalenderzeile, .kalender-input, .kalenderzeile span {
	float: left;
	padding: 5px 0;
}

.vorlesungszeit {
	margin: 6px 10px 0 0;
}

.kalender-input {
	background: #99b3ff;
  height: 25px;
	margin: 0 3px;
  width: 120px;
}

h2 {
	font-weight: bold;
	margin: 30px 0;
  text-align: center;
}

/* ============================================
   Sonderwünsche
   ============================================ */

.raumsonderwuensche {
	margin: 30px auto;
  width: 64%;
}


/* ============================================
   Priority List
   ============================================ */

.cool-class {
  background-color: #e6ecff;
  margin: 10px 0px;
  padding: 10px 20px;
}

.cool-class input {
  margin: 10px 0px;
  padding: 10px 10px;
  width: calc(100% - 24px);

}

#priority-list li {
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    cursor: pointer;
    margin: 1px 0px;
    padding: 10px 5px;
}

#priority-list h2 {
  text-align: center;
}

button {
    background: #99b3ff;
    border: 1px solid #4d79ff;
    cursor: pointer;
    margin: 10px 5px 0 0;
}

.priority-entry {
    position: relative;
}

.priority-delete {
    position: absolute;
    right: 8px;
    top: 8px;
}

select {
  font: 14px/16px "Droid Sans", Arial;
  margin-top: 20px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}



.day{
  display: inline-block;
  padding: 6px 10px;
  margin: 6px 10px;
  border: 1px solid #4d79ff;
}

.day.selected {
  background-color: #99b3ff;
}

.day:hover{
  color: #4d79ff;
}
