<!DOCTYPE html>
<html ng-app="zhang-app">
  <head>
    <meta charset="utf-8">
    <title>Kalender</title>

    <!-- styles -->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style2.css">
    <!-- end of styles -->




    <!-- libs -->
  <script src="js/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
	<script type="text/javascript" src="js/calendar.js"></script>
  <script src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/priorities.js"></script>

	<!-- libs end -->

  </script>
  </head>
  <body>
    <header class="group">
      <div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">StundenplanBaukasten</a>
				</div>
				<nav class="collapse navbar-collapse" role="navigation">
					<ul class="nav navbar-nav pull-right">
						<li>
							<a href="#sec">Auswahl</a>
						</li>
						<li>
							<a href="#sec">FAQ</a>
						</li>
						<li>
							<a href="#sec">Stundenplan</a>
						</li>
					</ul>
				</nav>
			</div>
	</header>
  <div class="row">
	<div class="main group">
		<div class="calendar group col-md-6">
			<h2>Bevorzugte Belegungszeiten</h2>
			<div class="option-choice group">
        <div>
				<a href="#" class="preferred" prio="3">Bevorzugte Wahl</a>
				<a href="#" class="alternative" prio="2">Alternative Wahl</a>
        </div>
        <div>
        <a href="#" class="impossible" prio="1">wenns sein muss</a>&nbsp;<a href="#" class="no-pref-choice" prio="0">nicht möglich</a>
        </div>
			</div>
			<div class="calendar-body group">
				<div class="first-calendar-row">
					<span class="week-day">MO</span>
					<span class="week-day">DI</span>
					<span class="week-day">MI</span>
					<span class="week-day">DO</span>
					<span class="week-day">FR</span>
				</div>
				<div class="calendar-row">
					<span class="lecture-time">08:00 - 09:30</span>
					<div class="calendar-input" prio="1"></div>
					<div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
				</div>
				<div class="calendar-row">
					<span class="lecture-time">09:45 - 11:15</span>
					<div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
				</div>
				<div class="calendar-row">
					<span class="lecture-time">12:15 - 13:45</span>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
				</div>
				<div class="calendar-row">
					<span class="lecture-time">14:00 - 15:30</span>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
				</div>
				<div class="calendar-row">
					<span class="lecture-time">15:45 - 17:15</span>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
				</div>
				<div class="calendar-row">
					<span class="lecture-time">17:30 - 19:00</span>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
			        <div class="calendar-input" prio="1"></div>
				</div>
			</div>
		</div>
    <div class="wishes-section group col-md-6" ng-controller="prioController">
      <h2>Sonderwünsche</h2>
      <span>Bitte wählen Sie einen oder mehrere Sonderwünsche aus.</span>
      <div class="priority-select-list">
        <div class="priority-select-list-entry" ng-repeat="option in possiblePriorities track by option.id" data-id="{{option.id}}" ng-click="selectPriority($event)">
          <div class="title">
            {{option.label}}
          </div>
        </div>
        <input id="priorities-submit-button" type="button" name="name" value="Speichern">
      </div>

      <div class="selected-priorities">
        <ul id="priority-list">

        </ul>
      </div>
    </div>


    <div id="templates" style="display: none;">
      <div id="template1">
        <select name="day">
            <option>Ersten Tag wählen</option>
            <option value="montag">Montag</option>
            <option value="dienstag">Dienstag</option>
            <option value="mittwoch">Mittwoch</option>
            <option value="donnerstag">Donnerstag</option>
            <option value="freitag">Freitag</option>
        </select>
        <select name="time">
            <option>Zweiten Tag wählen</option>
            <option value="montag">Montag</option>
            <option value="dienstag">Dienstag</option>
            <option value="mittwoch">Mittwoch</option>
            <option value="donnerstag">Donnerstag</option>
            <option value="freitag">Freitag</option>
        </select>
      </div>
    </div>
  </div>
</div>
	</body>
</html>
