<!DOCTYPE html>
<html ng-app="zhang-app">
  <head>
    <meta charset="utf-8">
    <title>Sonderwünsche</title>

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
    <!-- end of Styles -->

    <!-- JS -->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script type="text/javascript" src="js/priorities.js"></script>
    <!-- end of JS -->

  </head>
  <body>
    <header class="group">
      <div class="wrapper group">
        <span class="welcome-message">Guten Tag, Prof. Dr. Käsekuchen!</span>
        <nav class="menu group">
          <ul class="menu-list">
            <li><a href="calendar.html">Kalender</a></li>
            <li>Wünsche</li>
            <li><a href="#">Abmelden</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="raumsonderwuensche group" ng-controller="prioController">
      <h2>Sonderwünsche</h2>
      <span>Bitte wählen Sie einen oder mehrere Sonderwünsche aus.</span>
      <div class="aslkfj">
        <div class="clickfick" ng-repeat="option in possiblePriorities track by option.id" data-id="{{option.id}}" ng-click="selectPriority($event)">
          <div class="title">
            {{option.label}}
          </div>
        </div>
      </div>

      <div class="cool-class">


        <ul id="priority-list">
          
          <!-- ng-repeat doesnt work, because dom objects are returned -->
          <!-- li ng-repeat="prio in priorities" class="priority-entry" data-id="{{prio.id}}">
            <div class="priority-label">
              {{prio.getLabel()}}
            </div>
            <div class="priority-delete">
              x
            </div>
            <div class="priority-conent">
              {{prio.getContent()}}
            </div>
          </li -->
        </ul>
        <!-- select id="priority-select" ng-model="selectedPrio" ng-options="option.label for option in possiblePriorities track by option.id">
        </select -->
      </div>
    </div>


    <div id="templates" style="display: none;">
      <div id="template1">
        <select name="day">
            <option>Ersten Tag wählen</option>
            <option value="montag">Montag</option>
            <option value="dienstag">Dienstag</option>
            <option value="mittwoch">Mittwoch</option>
            <option value="donnerstag">Donnerstag</option>
            <option value="freitag">Freitag</option>
        </select>
        <select name="time">
            <option>Zweiten Tag wählen</option>
            <option value="montag">Montag</option>
            <option value="dienstag">Dienstag</option>
            <option value="mittwoch">Mittwoch</option>
            <option value="donnerstag">Donnerstag</option>
            <option value="freitag">Freitag</option>
        </select>
      </div>
    </div>

  </body>
</html>
