<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!--  we use java config -->
	<!-- 
	<http use-expressions="true">
		<intercept-url pattern="/anonymous*" access="isAnonymous()" />
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/**" access="isAuthenticated()" />

		<csrf disabled="true" />

		<form-login login-page='/login.html'
			authentication-success-handler-ref="theAuthenticationSuccessHandler"
			authentication-failure-url="/logon.html?error=true" />

		<logout delete-cookies="JSESSIONID" />

		<remember-me key="uniqueAndSecret" token-validity-seconds="86400" />

	</http>



	<beans:bean id="theUserDetailsService" class="de.teamzhang.security.TheUserDetailsService" />

	<authentication-manager>
		<authentication-provider user-service-ref="theUserDetailsService" />
	</authentication-manager>

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg value="11" />
	</beans:bean>
	
	 -->

</beans:beans>