@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

header {
    background: #004D40;
    height: 40px;
}

.wrapper {
    display: block;
    margin: 0 auto;
}

.welcome-message {
    color: white;
    float: left;
    margin-left: 25px;
    padding: 10px 0;
}

.menu {
    float: right;
}

.menu-list {
    list-style: none;
    margin: 0;
}

.menu-list li {
    color: #a7ffeb;
    float: left;
    padding: 10px 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.menu-list .profil {
    margin-top: -10px;
    padding-right: 0;
}

.profil:after {
    content: " ";
    display: inline-block;
    background: #E0F2F1 url(../img/user.png) no-repeat center center;
    height: 40px;
    margin-left: 5px;
    vertical-align: middle;
    width: 35px;
 }

.main {
    font-weight: bold;
    margin: 0 auto;
    padding: 50px 0px;
    width: 80%;
}

/* ============================================
   Calendar
   ============================================ */

.calendar {
    float: left;
    width: 59%;
}

.option-choice a {
    color: #000;
    display: block;
    font-size: 12px;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px;
}

.option-choice a:hover {
    /*border-bottom: 3px solid #cfd8dc;*/
}

.option-choice a:before {
    border-radius: 40px;
    content: " ";
    display: inline-block;
    height: 30px;
    margin-right: 7px;
    vertical-align: middle;
    width: 30px;
}

.no-pref-choice:before{
  background: #fff;
  border: 1px dotted grey;
}

.preferred:before {
    background: #1de9b6;
}

.alternative:before {
    background: #a7ffeb;
}

.impossible:before {
    background: #cfd8dc;
}

.calendar-body {
    margin-top: 80px;
}

.active{
    border-bottom: 3px solid #cfd8dc;
}

.first-calendar-row {
    float: left;
    padding: 10px 0 10px 88px;
}

.week-day {
	 padding: 0 25px;
}

.week-day:last-child {
    padding-right: 0;
}

.btn-calendar {
  	background: blue;
  	display: inline-block;
  	height: 10px;
  	width: 10px;
}

.calendar-row, .calendar-input, .calendar-row span {
  	float: left;
  	padding: 5px 0;
}

.calendar-row .calendar-input:last-child {
    margin-right: 0;
}

.calendar-row.after-lunch {
    margin-top: 4px;
}

.calendar-row.after-lunch:before {
    background: #cfd8dc;
    content:" ";
    display: block;
    height: 1px;
    margin-bottom: 14px;
    width: 100%;
}

.lecture-time {
	 margin: 6px 10px 0 0;
}

.calendar-input {
  	background: #cfd8dc;
    border-radius: 40px;
    cursor: pointer;
    height: 50px;
  	margin: 0 10px;
    width: 50px;
}

.calendar-input[data-prio="0"] {
    background: #fff;
    border: 1px dotted grey;
}
.calendar-input[data-prio="1"] {
    background: #cfd8dc;
}
.calendar-input[data-prio="2"] {
    background: #a7ffeb;
}
.calendar-input[data-prio="3"] {
    background: #1de9b6;
}

h2 {
    font-size: 26px;
    font-weight: bold;
  	margin: 30px 0;
}

/* ============================================
   Wishes
   ============================================ */

.wishes-section {
    color: #004D40;
    float: right;
  	margin: 30px 0 0;
    width: 70%;
}

.wishes-section h2 {
    margin: 0;
}

.wishes-section span {
    color: #004D40;
    display: block;
    font-style: italic;
    margin: 10px 0;
}
.priority-select-list-entry {
    margin-right: 10px;
}

.priority-select-list-entry:hover {
    background: #a7ffeb;
    cursor: pointer;
}

.title {
    border: solid 2px #004D40;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 3px;
}

select {
    background: #004D40;
    border: 1px solid #004D40;
    color: #fff;
}

/* style for hovered options in select fiels
select option:hover {
    background: #fff;
    color: #004D40;
}
*/


/* ============================================
   Priority List
   ============================================ */

.selected-priorities {
    float: left;
    margin: 10px 0px;
}

.selected-priorities input {
    margin: 10px 0px;
    padding: 10px 10px;
    width: calc(100% - 24px);
}

.priority-entry {
    position: relative;
}

.priority-entry textarea {
    display: block;
}

#priority-list {
    padding: 0;
}

#priority-list li {
    border-left: 2px solid #004D40;
    cursor: pointer;
    list-style: none;
    margin: 8px 10px 8px 0;
    padding: 10px 30px 10px 10px;
}

.priority-delete {
    background: #004D40;
    color: #fff;
    padding: 0px 5px 3px;
    position: absolute;
    right: 8px;
    top: 8px;
}

button {
    background: #004D40;
    border: 1px solid #004D40;
    color: #fff;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    margin: 10px 5px 0 0;
}

select {
    font: 12px/16px "Droid Sans", Arial;
    margin-top: 20px;
}

.day {
    border: 1px solid #004D40;
    color: #004D40;;
    display: inline-block;
    font-size: 12px;
    padding: 6px 10px;
    margin: 6px 6px 6px 0;
}

.day.selected {
    background: #004D40;
    color:#fff;
}

.day:hover {
    color: #a7ffeb;
}

.priority-select-list {
  display: inline-block;
  float: left;
}

#priorities-submit-button {
  background: #004D40;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 6px 10px;
  margin: 6px 6px 6px 0;
  border: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}

*/



/* =======================================================================================================================
            Media Queries
   ======================================================================================================================= */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 930px) {

    h2 {
        font-size: 22px;
    }

    .calendar-body {
        margin-top: 40px;
    }

    .option-choice a {
        margin-right: 4px;
        padding: 4px;
    }

    .option-choice a:before {
       height: 25px;
       margin-right: 3px;
       width: 24px;
    }

    .first-calendar-row {
        padding-left: 85px;
    }

    .week-day {
        padding: 0 18px 0 19px;
    }

    .calendar-input {
        height: 43px;
        margin: 0 6px;
        width: 43px;
    }
}

@media only screen and (max-width: 760px) {

    .calendar, .wishes-section {
        float: none;
        margin: 0 auto;
    }

    .wishes-section {
        width: 93%;
    }

    .calendar {
       width: 73%;
    }
}

@media only screen and (max-width: 700px) {

    .menu-trigger, .menu-close-btn {
        height: 22px;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 25px;
    }

    .menu-trigger {
        background: url(../img/menu-trigger.png) no-repeat center center;
    }

    .menu-close-btn {
        background: url(../img/cross.png) no-repeat center center;
    }

    .menu {
        background: #004D40;
        display: none;
        margin: 0 auto;
        width: 100%;
    }

    .menu-list {
        padding: 0;
    }

    .menu-list li {
        float: none;
        margin: 20px 0;
        text-align: center;
    }

    .calendar, .wishes-section {
        width: 235px; /*44%;*/
    }

    h2 {
        font-size: 14px;
        margin: 0 0 15px;
    }

    .option-choice a {
        float: none;
    }

    .first-calendar-row {
        padding-left: 72px;
    }

    .calendar-body {
        font-size: 12px;
    }

    .week-day {
        padding: 0 8px;
    }

    .lecture-time {
        margin-top: 0;
    }

    .calendar-input {
        height: 26px;
        margin: 0 3px;
        width: 26px;
    }

}
